

<div class="content-wrapper">
    <section id="main-content">

        <!-- Main Page Content and Sidebar -->

        <div class="row">

            <!-- Main Blog Content -->
            <div class="large-9 columns" role="content">

                <article style="margin:0 auto;">

                    <h1>Note:<%= @item.name %></h1>
                    <p class="article_pub-date">Published:
                        <time datetime="" pubdate=""><%= @item.created_at%></time>
                    </p>

                    <div class="row">
                        <div class="large-12 columns">
                          <h3>
                            Category:
                          </h3>
                          <p>
                            <%= Category.all.select{|c| c.id==@item.category_id}.first.name %>
                          </p>
                          <h3>
                            Link:
                          </h3>
                          <p>
                            <a href="<%= @item.relevant_link %>" ><%= @item.relevant_link %></a>
                          </p>
                            <h3>Content:</h3>

                            <p> <%= @item.body %> </p>


                        </div>
                    </div>
                    <%= link_to 'Edit', edit_item_path(@item) %>
                    <%= link_to 'Back', items_path %>
                </article>

                <hr />

            </div>

<!-- End Main Content -->
